name: Build & Push PG13 Docker Image

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Log into GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build+Push Image (hard rebuild)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          no-cache: true
          provenance: false
          sbom: false
          tags: ghcr.io/${{ github.actor }}/stg1_nivera_atgsd-sea-pay-processor:latest
